<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="E-Mail Address">
        <mat-error *ngIf="">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password">
        <mat-error *ngIf="">Incorrect password. Please try again!</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Login</button>
  </form>
</mat-card>
